@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Apple SD Gothic Neo", -apple-system, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
}
